::ng-deep .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
  padding: 14px;
}

::ng-deep .class-preview>div:first-child {
  font-size: 12px;
  white-space: normal;
}

::ng-deep .class-preview>div:not(:first-child) {
  font-size: 11px;
  white-space: normal;
}

::ng-deep .subject-tooltip .subject-info {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  text-align: left;
}

::ng-deep .subject-tooltip img {
  height: 80px;
  margin-bottom: 10px;
}

::ng-deep .subject-tooltip .subject-title {
  font-size: 1.5em;
  line-height: 40px;
}

::ng-deep .long-title h3 {
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

dx-scheduler {
  position: fixed;
  width: 80vw;
  margin-top: 80px;
  margin-left: 200px;
  padding-right: 20px;
}

@media (max-width: 1300px) {
  dx-scheduler {
    width: 70%;
    margin-top: 25px;
  }
}

@media (max-width: 1000px) {
  dx-scheduler {
    width: 60%;
  }
}

@media (max-width: 400px) {
  dx-scheduler {
    width: 50%;
    margin-left: 50px;
    margin-top: 120px;
  }
}
