<dx-scheduler
  id="scheduler"
  [dataSource]="classes"
  [views]="['day', 'workWeek']"
  currentView="workWeek"
  [firstDayOfWeek]="0"
  [startDayHour]="9"
  [endDayHour]="18"
  [showAllDayPanel]="false"
  [currentDate]="currentDate"
  [crossScrollingEnabled]="true"
  [cellDuration]="30"
  [height]="600"
  appointmentTemplate="appointment-template"
  appointmentTooltipTemplate="tooltip-template"
  (onAppointmentFormCreated)="onAppointmentFormCreated($event)"
  (onOptionChanged)="onOptionChanged($event)">

  <dxo-editing [allowAdding]="true"></dxo-editing>

  <dxi-resource
      fieldExpr="subjectId"
      [useColorAsDefault]="true"
      [dataSource]="subjects">
  </dxi-resource>
  <div
   [ngStyle]="{backgroundColor: getSubjectById(class.fk_id_subject).color}"
   *dxTemplate="let class of 'appointment-template'">
      <div class='class-preview'>
          <div>{{getSubjectById(class.subjectId).title}}</div>
          <div class='dropdown-appointment-dates'>
              {{(class.startDate | date:'shortTime') + ' - ' + (class.endDate | date:'shortTime')}}
          </div>
      </div>
  </div>

  <div *dxTemplate="let class of 'tooltip-template'">
      <div class='subject-tooltip'>
          <dx-button text='Edit details' (onClick)='editDetails(class)' type="default">
          </dx-button>
      </div>
  </div>
</dx-scheduler>