<dx-scheduler
  id="scheduler"
  [dataSource]="classes"
  [views]="['day', 'workWeek']"
  currentView="workWeek"
  [firstDayOfWeek]="0"
  [startDayHour]="9"
  [endDayHour]="18"
  [showAllDayPanel]="false"
  [currentDate]="currentDate"
  [crossScrollingEnabled]="true"
  [cellDuration]="60"
  [height]="600"
  appointmentTemplate="appointment-template"
  appointmentTooltipTemplate="tooltip-template"
  (onAppointmentFormCreated)="onAppointmentFormCreated($event)">

  <dxo-editing [allowAdding]="true"></dxo-editing>

  <dxi-resource
      fieldExpr="subjectId"
      [useColorAsDefault]="true"
      [dataSource]="subjects">
  </dxi-resource>

  <div *dxTemplate="let showtime of 'appointment-template'">
      <div class='showtime-preview'>
          <div>{{getSubjectById(showtime.fk_id_subject)}}</div>
          <div class='dropdown-appointment-dates'>
              {{(showtime.startDate | date:'shortTime') + ' - ' + (showtime.endDate | date:'shortTime')}}
          </div>
      </div>
  </div>

  <div *dxTemplate="let showtime of 'tooltip-template'">
      <div class='subject-tooltip'>
          <dx-button text='Edit details' (onClick)='editDetails(showtime)' type="default">
          </dx-button>
      </div>
  </div>
</dx-scheduler>