<div class="body">
  <img src="../../assets/img/flow.png">
  <div class="form-box mx-auto shadow">
    <div class="form-top pb-4">
      <h3>Login</h3>
    </div>
    <div class="form-bottom">
      <form role="form" action="" method="post" class="registration-form">
        <div class="form-group iconInside">
          <label class="sr-only" for="email">Email</label>
          <i class="fa fa-envelope" id="icon"></i>
          <input [(ngModel)]="loginUserData.email" type="email" name="email" placeholder="Email" class="form-control"
            id="email" required>
        </div>
        <div class="form-group iconInside">
          <label class="sr-only" for="password">Password</label>
          <i class="fa fa-lock" id="icon"></i>
          <input [(ngModel)]="loginUserData.password" type="password" name="password" placeholder="Password" class="form-control"
            id="password" required minlength="6" maxlength="30">
        </div>
        <button (click)="loginUser()" type="submit" class="btn btn-block mt-5 mx-auto">SIGN IN</button>
        <p class="forgotP pt-4">Forgot password?</p>
        <hr>
        <button (click)="goToRegistration()" class="btn btn-block mt-4 mx-auto" style="background-color: lightgray">GO TO REGISTARTION</button>
      </form>
    </div>
  </div>
</div>
