<h3>{{groupName}}</h3>
<table class="table table-hover mx-auto">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Név</th>
      <th scope="col">E-mail cím</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i">
      <td>{{i + 1}}</td>
      <td>{{user.name}} ({{user.nickname}})</td>
      <td>{{user.email}}</td>
      <td><i class="fa fa-times" title="Törlés" (click)="removeFromGroup(user)"></i></td>
    </tr>
  </tbody>
</table>
<div class="wrapper">
  <button id="addBtn" (click)="addNew(user)" title="Hozzáadás"><i class="fa fa-plus mx-auto"></i></button>
</div>

<ng-template #user let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Új felhasználó hozzáadása</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" method="POST" #myForm="ngForm">
        <div class="form-group mx-auto">
          <label for="email">E-mail cím</label>
          <div class="input-group">
            <input [(ngModel)]="newUser.email" type="email" id="email" class="form-control" name="email" required>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline" id="saveBtn" (click)="addUser(); modal.close('Save click')">Mentés</button>
    </div>
  </ng-template>
