<div class="sidebar">
  <img id="logo" src="../../assets/img/flow.png">
  <div class="buttons">
    <button type="button" class="btn mx-auto" title="Timetable" (click)="goToProfile()"><i class="fa fa-calendar"></i></button>
    <button type="button" class="btn mx-auto" title="Subjects" (click)="goToSubjects()"><i class="fa fa-book"></i></button>
    <button type="button" class="btn mx-auto" title="Groups" (click)="goToGroups()"><i class="fa fa-users"></i></button>
    <button type="button" class="btn mx-auto" title="Logout" (click)="logout()"><i class="fa fa-sign-out"></i></button>
  </div>
</div>
