.sidebar {
  background-color: #304d6d;
  width: 100%;
  height: 100%;
  padding: 0;
}

img {
  width: 90%;
  margin-top: 20px;
  margin-left: 5px !important;
}

.buttons {
  padding-top: 40px;
}

.btn {
  color: white;
  background-color: #00bfb2;
  border-radius: 0;
  width: 80px;
  height: 80px;
  margin-top: 50px;
  margin-left: 25px !important;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #09b3a7;
}

i {
  font-size: 40px;
}